*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    
}
.date-picker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 1rem;
    /* margin-left: 50%; */

    .date-field{
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #efefef;
    width: 100%;
    }
    .dates-container{
        background-color: #efefef;
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                border: none;
                background-color: transparent;
                cursor: pointer;
                font-size: 1.2rem;
            }
        }
    }
}

.day-headings{
display: flex;
justify-content: space-between;
padding: 0.5rem;
}

.dates { 
    display: grid; 
    grid-template-columns: repeat(7, 1fr); /* Create 7 equal columns for days */
    gap: 0.25rem; 
}

.dates div { /* Style individual date cells */
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    &:hover{
        background-color: azure;
    }
}



.dates div.selected {
    background-color: lightblue;
}

.dates div.other-month ,.pre-selected-disabled,.dates div.disabled  {
    opacity: 0.5;
    cursor:not-allowed !important; 
    color: gray; 
    &:hover{
        background-color: transparent !important;
    }
  }


  